@model IEnumerable<BusinessLayer.ViewModels.ProductVM>

@{
    ViewData["Title"] = "ProductList";
}

<h2>Ürün Listesi</h2>


<table class="table">
    <thead>
        <tr>
            <th  style="visibility:hidden" >
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Ürün Adı
            </th>
            <th>
                Resim 1
            </th>
            <th>
               Resim 2
            </th>
            <th>
               Resim 3
            </th>
            <th>
               Adet
            </th>
            <th>
               Fiyat
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td  style="visibility:hidden" >
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new {  id=item.Id  }) |
              
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
